/* Root variables for easy customization */
:root {
  --primary-color: rgb(16, 0, 13);
  --secondary-color: rgba(0, 0, 0, 0.7);
  --text-color: white;
  --bg-color: rgb(193, 191, 195);
  --hover-color: rgba(231, 230, 230, 0.2);
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  line-height: 1.6;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
}

header h1 {
  font-size: 2rem;
  color: var(--text-color);
  margin: 0;
}

header nav a {
  color: var(--text-color);
  margin-left: 15px;
  text-decoration: none;
}

header nav a:hover {
  background-color: var(--hover-color);
}

/* Main Content */
.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.page-section {
  margin-bottom: 40px;
}

.page-section h2 {
  font-size: 2rem;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.about-me-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: center;
}

.about-text {
  order: 1;
}

.about-image {
  order: 2;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 200px;
  border-radius: 50%;
}


/* Work Section */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-item {
  flex: 1 1 300px;
  background: no-repeat center center / cover;
  text-decoration: none;
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  position: relative;
  height: 250px;
  display: flex;
  align-items: flex-end;
}

.flex-item div {
  background-color: var(--secondary-color);
  padding: 10px;
  width: 100%;
}

/* Contact Section */
.contact address a {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  color: inherit;
}

.contact address a:hover {
  background-color: var(--hover-color);
}

/* Project Image */
.project-one {
  background-image: url("../img/pexels-mikhail-nilov-7583935.jpg");
}

.project-two {
  background-image: url("../img/pexels-pat-whelen-6136879.jpg");
}

.project-three {
  background-image: url("../img/pexels-pixabay-270236.jpg");
}

.project-four {
  background-image: url("../img/pexels-scott-platt-1294238.jpg");
}

.project-five {
  background-image: url("../img/pexels-shawn-stutzman-1010496.jpg");
}



