header {
  flex-direction: row;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(130, 111, 153);
}

header h1 {
  font-size: 2rem;
  color: rgb(67, 68, 66);
  margin: 0;
}

body {
  margin: 0;
  line-height: 1.2;
  background-color: rgb(240, 227, 249);
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

.banner {
  display: flex;
  background-size: cover;
  color: rgb(247, 247, 245);
  min-height: 28vh;
  padding: 2% 4%;
  text-align: right;
  background-position: center;
  align-items: flex-end;
  background-image: url("/assets/img/pexels-suzy-hazelwood-1629236.jpg");
}

.banner div {
  flex: 100%;
}

.banner h2 {
  font-size: 2.5rem;
  line-height: 1.4;
  display: inline;
}

img {
  padding: 10px 0;
  margin: 25px 0;
  flex-wrap: wrap;
  float: right;
  height: 300px;
}

.page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-section {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
}

.flex-container {
  flex-wrap: wrap;
  display: flex;
}

.flex-item {
  background-size: 150%;
  font-size: 1rem;
  margin: 8px;
  display: flex;
  align-items: flex-end;
  min-height: 200px;
  max-height: 200px;
  text-decoration: none;
  flex-basis: calc(50% - 1em);
}

.flex-item:first-child {
  min-height: 200px;
  flex-basis: 100%;
}

.flex-item div {
  background-color: rgb(227, 223, 221);
  padding: 8px 10px;
}












.project-one {
  background-image: url("./img/pexels-mikhail-nilov-7583935.jpg");
}

.project-two {
  background-image: url("./img/pexels-pat-whelen-6136879.jpg");
}

.project-three {
  background-image: url("./img/pexels-pixabay-270236.jpg");
}

.project-four {
  background-image: url("./img/pexels-scott-platt-1294238.jpg");
}

.project-five {
  background-image: url("./img/pexels-shawn-stutzman-1010496.jpg");
}